header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #3B1E54;
    color: #EEEEEE;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-link{
    text-decoration: none;
    color: #3B1E54;
    
}