.bookform-container{
    height: 80svh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-blur{
    background: url('../../../public/bg-img.jpg') no-repeat center left/cover;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    filter: blur(4px);
}


.bookform-container form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fbfbfb3f;
    padding: 2rem 20svw;
    margin: 2rem;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.bookform-container form .input-field{
    width: 100%;
    margin: 1rem 0;
    color: aliceblue;
}
